PORT=3001
NODE_ENV=development
CORS_ORIGIN=http://localhost:3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=pgtl_test

SWAGGER_USERNAME=admin
SWAGGER_PASSWORD=secret
